In [1]:
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
from techical_indicators import RSI, MACD, OBV, StochasticOscillator, IndicatorWrapper
from models import Stock

In [2]:
def plot_stock_indicators(stock: Stock, indicators: dict) -> None:
    # Create subplots - one for the closing price and one per indicator
    fig, axs = plt.subplots(
        len(indicators) + 1,
        1,
        figsize=(14, 10),
        sharex=True,
        gridspec_kw={'height_ratios': [2, 1, 1, 1, 1]})

    fig.suptitle(f"{stock.name} Stock Price and Technical Indicators")

    # Plot the stock closing price in the first subplot
    axs[0].plot(stock.get_date('2024-11-15')['Close'], label="Close Price", color="blue")
    axs[0].set_ylabel("Close Price")
    axs[0].grid()

    for index, (name, indicator) in enumerate(indicators.items()):
        axs[index + 1].plot(indicator, label=name)
        axs[index + 1].set_ylabel(name)
        axs[index + 1].grid()

    axs[-1].xaxis.set_major_formatter(mdates.DateFormatter("%H-%M"))
    plt.xticks(rotation=45)
    plt.tight_layout(rect=[0.0, 0.03, 1.0, 0.95])  # type: ignore

    plt.show()

In [3]:
STOCK = Stock('AAPL')
indicators = [
    RSI(period=14, magnitude=100),
    MACD(fast=12, slow=26, signal=9),
    OBV(),
    StochasticOscillator(fast_k=14, slow_k=3, slow_d=3)]
indicator = IndicatorWrapper(indicators, fillna=-1.0)
df = indicator(STOCK)
df.describe()

Open            2.251400e+02
High            2.252299e+02
Low             2.248700e+02
Close           2.249200e+02
Volume          1.765189e+06
Dividends       0.000000e+00
Stock Splits    0.000000e+00
Name: 2024-11-15 15:55:00-05:00, dtype: float64

,Open,High,Low,Close,Volume,Dividends,Stock Splits,RSI,MACD,MACDh,MACDs,OBV,STOCH_k,STOCH_d,STOCH_s
count,3365.000000,3365.000000,3365.000000,3365.000000,3.365000e+03,3365.000000,3365.0,3365.000000,3365.000000,3365.000000,3365.000000,3.365000e+03,3365.000000,3365.000000,3365.000000
mean,228.023218,228.204579,227.839977,228.027349,4.300166e+05,0.000074,0.0,51.281644,0.009209,-0.011586,0.005068,4.564998e+07,53.398007,53.355951,-0.014847
std,3.997633,3.984319,4.004037,3.993516,5.982381e+05,0.004310,0.0,12.442467,0.395191,0.150700,0.373869,1.100377e+07,27.724673,26.946396,7.877272
min,215.789993,216.049896,215.720093,216.010193,0.000000e+00,0.000000,0.0,-1.000000,-1.700730,-1.000000,-1.531852,-2.236700e+05,-1.000000,-1.000000,-29.480300
25%,224.960007,225.139999,224.800003,224.964798,1.952760e+05,0.000000,0.0,43.171835,-0.159906,-0.052637,-0.152112,3.808147e+07,29.622025,30.347388,-4.526438
50%,227.529999,227.705002,227.360001,227.529999,2.875630e+05,0.000000,0.0,51.609456,0.028735,-0.002083,0.029711,4.557548e+07,55.406574,55.000343,-0.035176
75%,230.964996,231.190002,230.729996,230.964996,4.484260e+05,0.000000,0.0,59.500418,0.194546,0.049456,0.188438,5.246701e+07,78.709757,77.507138,4.336964
max,237.146896,237.490005,237.009995,237.140106,1.445493e+07,0.250000,0.0,100.000000,2.181819,0.748844,1.948182,6.756264e+07,99.040745,98.642975,30.822001

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3365 entries, 2024-09-17 15:05:00-04:00 to 2024-11-15 15:55:00-05:00
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Open          3365 non-null   float64
 1   High          3365 non-null   float64
 2   Low           3365 non-null   float64
 3   Close         3365 non-null   float64
 4   Volume        3365 non-null   int64
 5   Dividends     3365 non-null   float64
 6   Stock Splits  3365 non-null   float64
 7   RSI           3365 non-null   float64
 8   MACD          3365 non-null   float64
 9   MACDh         3365 non-null   float64
 10  MACDs         3365 non-null   float64
 11  OBV           3365 non-null   float64
 12  STOCH_k       3365 non-null   float64
 13  STOCH_d       3365 non-null   float64
 14  STOCH_s       3365 non-null   float64
dtypes: float64(14), int64(1)
memory usage: 549.7+ KB

In [5]:
df.dropna(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3365 entries, 2024-09-17 15:05:00-04:00 to 2024-11-15 15:55:00-05:00
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Open          3365 non-null   float64
 1   High          3365 non-null   float64
 2   Low           3365 non-null   float64
 3   Close         3365 non-null   float64
 4   Volume        3365 non-null   int64
 5   Dividends     3365 non-null   float64
 6   Stock Splits  3365 non-null   float64
 7   RSI           3365 non-null   float64
 8   MACD          3365 non-null   float64
 9   MACDh         3365 non-null   float64
 10  MACDs         3365 non-null   float64
 11  OBV           3365 non-null   float64
 12  STOCH_k       3365 non-null   float64
 13  STOCH_d       3365 non-null   float64
 14  STOCH_s       3365 non-null   float64
dtypes: float64(14), int64(1)
memory usage: 549.7+ KB

In [6]:
df.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,RSI,MACD,MACDh,MACDs,OBV,STOCH_k,STOCH_d,STOCH_s
Datetime,,,,,,,,,,,,,,,
2024-09-17 15:05:00-04:00,215.789993,216.049896,215.720093,216.010193,0,0.0,0.0,-1.000000,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0
2024-09-17 15:10:00-04:00,216.001205,216.246002,215.970001,216.235001,346785,0.0,0.0,100.000000,-1.0,-1.0,-1.0,346785.0,-1.0,-1.0,-1.0
2024-09-17 15:15:00-04:00,216.229996,216.369995,216.130005,216.360001,413931,0.0,0.0,100.000000,-1.0,-1.0,-1.0,760716.0,-1.0,-1.0,-1.0
2024-09-17 15:20:00-04:00,216.360001,216.394196,216.149994,216.160004,481649,0.0,0.0,93.399046,-1.0,-1.0,-1.0,279067.0,-1.0,-1.0,-1.0
2024-09-17 15:25:00-04:00,216.190002,216.619995,216.159500,216.610001,493833,0.0,0.0,94.309265,-1.0,-1.0,-1.0,772900.0,-1.0,-1.0,-1.0

In [9]:
df[MACD.column_names]

                               MACD     MACDh     MACDs
Datetime
2024-09-17 15:05:00-04:00 -1.000000 -1.000000 -1.000000
2024-09-17 15:10:00-04:00 -1.000000 -1.000000 -1.000000
2024-09-17 15:15:00-04:00 -1.000000 -1.000000 -1.000000
2024-09-17 15:20:00-04:00 -1.000000 -1.000000 -1.000000
2024-09-17 15:25:00-04:00 -1.000000 -1.000000 -1.000000
...                             ...       ...       ...
2024-11-15 15:35:00-05:00  0.049114  0.027530  0.021584
2024-11-15 15:40:00-05:00  0.040819  0.015388  0.025431
2024-11-15 15:45:00-05:00  0.029866  0.003548  0.026318
2024-11-15 15:50:00-05:00  0.050460  0.019313  0.031146
2024-11-15 15:55:00-05:00  0.050065  0.015135  0.034930

[3365 rows x 3 columns]